<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game Over</title>
    <link rel="stylesheet" th:href="@{/css/end.css}">
</head>
<body>
    <div class="container">
        <div class="section">
            <h1>Game Over</h1>
            <h2>You have been bested by the dungeon!</h2>
            <h3>Thanks for playing</h3>
        </div>

        <div class="section">
            <h1>Your Score</h1>
            <p class="score" th:text="${score}"></p>
        </div>

        <div class="line"></div>

        <a th:href="@{/story}"><button class="button" type="button">Story Log</button></a>

        <div class="buttonSpace">
            <a th:href="@{/}"><button class="button" type="button">Play Again</button></a>
            <a class="button" th:href="@{/leaderboard}"><button class="button" type="button">Leaderboard</button></a>
        </div>
    </div>
</body>
</html>
